# ==========================
# React / Node
# ==========================
frontend/node_modules/
frontend/dist/
frontend/.vite/

# ==========================
# Python
# ==========================
**/__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# ==========================
# Go
# ==========================
*.exe
*.test
*.out

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment files
# ==========================
.env.local
.env.production.local